# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Release CI Build Test

on:
  pull_request:
    branches: [ release ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      env: 
        ENCRYPT_CODE: ${{ secrets.ENCRYPT_CODE }}
        ENCRYPT_IV: ${{ secrets.ENCRYPT_IV }}
      with:
        node-version: ${{ matrix.node-version }}
    - run: touch secrets/encrypt.json && printf '{"code":"%s", "iv":"%s"}' "$ENCRYPT_CODE" "$ENCRYPT_IV" > secrets/encrypt.json
    - run: npm install -g yarn
    - run: yarn install --frozen-lockfile
    - run: yarn build
